<section class="header" id="header">
    <div class="main-header" id="main-header">
        <div class="header-contact">
            <a id="phone" href="tel:044 594 31 90">
                <img src="assets/phone.png" alt="Phone Icon">
                <p >044 594 31 90</p>
            </a>
            <a id="mail" href="mailto:info@hoerschmiede-boo.ch">
                <img src="assets/mail.png" alt="Mail Icon">
                <p href="mailto:info@hoerschmiede-boo.ch">info&#64;hoerschmiede-boo.ch</p>
            </a>
            <div id="social-media" class="social-media">
                <a href="https://instagram.com/hoerschmiede_boo/">
                    <img src="assets/instagram.png" alt="Instagram Icon" id="instagram" >
                </a>
                <a href="https://facebook.com/people/H%C3%B6rschmiede-Boo-GmbH/100084035448678/">
                    <img src="assets/facebook.png" alt="Facebook Icon" id="facebook">
                </a>
            </div>
        </div>
        <div class="header-logo">
            <img src="assets/FooterUMini.png" alt="Hoerschmiede Logo" class="logo" id="logo">
            <div class="logo-text">
                <h1 id="headline" class="headline">Hörschmiede Boo GmbH</h1>
                <h3>Hörsysteme nach Mass</h3>
            </div>
        </div>
        <img src="/assets/generatedtext.png" alt="Ihr Hörgerateakustiker in Horgen" class="slogan" id="slogan">
    </div>
    <div class="buttons" id="buttons">
        @for (button of buttons; track $index) {
            <app-buttons [text]="button.text"></app-buttons>
        }
    </div>
</section>