$bg-color: rgb(236, 238, 254);
$white: #FFFFFF;
$black: #000000;
$main: #D8B358;
$main-medium: #A48844;
$main-dark: #816B36;
$line: linear-gradient(1.46deg, #D8B358 1.22%, #816B36 98.76%);
$responsive-breakpoint: 600px;